{% extends 'layouts/admin.html.twig' %}

{% block admin_title %}Modifier une reservation{% endblock %}
{% block admin_subtitle %}Mettez a jour les informations de la reservation{% endblock %}

{% block admin_body %}
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            {{ include('admin/reservation/_form.html.twig', {form: form, button_label: 'Mettre a jour'}) }}
        </div>
    </div>
{% endblock %}
