{% if app.user %}
<li class="nav-item" style="position: relative;">
    <a class="nav-link nav-notification-icon" href="#" title="Notifications" style="font-size: 20px;">
        🔔
    </a>
</li>
{% endif %}
