<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}AgriFlow{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}Plateforme web de gestion agricole AgriFlow.{% endblock %}">
        <link rel="icon" href="{{ asset('template/assets/img/favicon.png') }}">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% include 'partials/_flash.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
