{% extends 'layouts/admin.html.twig' %}

{% block admin_title %}Nouvelle annonce{% endblock %}
{% block admin_subtitle %}Renseignez les informations avant publication{% endblock %}

{% block admin_body %}
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            {{ include('admin/annonce/_form.html.twig', {form: form, button_label: 'Ajouter'}) }}
        </div>
    </div>
{% endblock %}
